.search__bar {
  display: flex;
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  gap: 5px;
  padding-right: 13px;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.1);
}

.search__input {
  border: none;
  outline: none;
  padding: 13px;
  flex-grow: 1;
  border-top-left-radius: 20px;
  border-right: 1px solid #ddd;
  font-size: 0.8rem;
}
.search__button {
  background: none;
  border: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  :hover{
    font-size: 2rem;
    color: #080808;
  }
}
