.Carrinho {
  width: 100%;
  max-width: 380px;
  background-color: #f8f8f8;
  padding: 100px 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(110%, 0);
  transition: all 400ms ease;
}

.carrinho-itens {
  flex-grow: 1;
  overflow: auto;
  overflow-x: hidden;
}

.carrinho-valor {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 35px 0 15px;
  border-top: 1px solid #ddd;
  overflow: hidden;
}

.Carrinho-ativo {
  transform: translate(0, 0);
  transition: all 400ms ease;
}
